/*Importing multiple fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Mochiy+Pop+One&family=Mukta&family=Roboto:wght@300&display=swap');
/*
    font-family: 'Dancing Script', cursive;

    font-family: 'Mochiy Pop One', sans-serif;

    font-family: 'Mukta', sans-serif;

    font-family: 'Roboto', sans-serif;
*/

:root{
    --soft-orange : #fae6b1;
    --vivid-orange: #ffa101;
    --desaturated-cyan : #31525b;
    --soft-cyan : #83dee5;
    --light-grey : #e5e7eb;
    --slight-white : #f9faf8;
}

/*For debug*/
*{
    outline: solid greenyellow 2px;
}

*{
    margin: 0px;
    padding: 0px;
    border : 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body, html{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dummy{
    font-size: 100px;
}

/*Styling the header */
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    background-color: var(--soft-cyan);
    height :50px;
    padding: 10px;

    position: fixed;
}

.header div, .header a{
    font-size: 16px;
}

.header a{
    padding: 10px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--soft-cyan);
    color: white;
    transition: all 0.4s ease-out;
    border-radius: 20px;
}


.header a:hover{
    background-color: var(--vivid-orange);
    color: white ;
    transition: all 0.4s ease-in;
}

#logo{
    font-family:'Mochiy Pop One', sans-serif;
    font-size: 24px;
    color: white;

    height: 20px;
    display: flex;
   
    align-items: center;
    justify-content: center;  
    gap:10px;  
}

.orange{
    color:var(--vivid-orange);
}

/*Working on the topper*/
.topper{
    padding-top: 50px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--soft-orange);
}

.toppertext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;

    height: 500px;
    width: 500px;
}

.topperhead {
    font-size: 48px;
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: bold;
    color: var(--desaturated-cyan);
}

.topperextra{
    font-family:'Roboto', sans-serif;
    font-size: 22px;
    color: var(--desaturated-cyan);
    text-align: left;
}

.topperimg, .topperimg img{
    height: 500px;
    width: auto;
}