/*Importing multiple fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Mochiy+Pop+One&family=Mukta&family=Roboto:wght@300&display=swap');
/*
    font-family: 'Dancing Script', cursive;

    font-family: 'Mochiy Pop One', sans-serif;

    font-family: 'Mukta', sans-serif;

    font-family: 'Roboto', sans-serif;
*/

:root{
    --soft-orange : #fae6b1;
    --vivid-orange: #ffa101;
    --desaturated-cyan : #31525b;
    --soft-cyan : #83dee5;
}

*{
    margin: 0px;
    padding: 0px;
    border : 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body, html{
    height: 100%;
}

.dummy{
    font-size: 100px;
}

/*Styling the header */
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    background-color: var(--desaturated-cyan);
    height :50px;
    padding: 10px;

    position: fixed;
}

.header div, .header a{
    font-size: 16px;
}

.header a{
    padding: 10px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--desaturated-cyan);
    color: white;
    transition: all 0.4s ease-out;
    border-radius: 20px;
}


.header a:hover{
    background-color: var(--soft-cyan);
    color: white ;
    transition: all 0.4s ease-in;
}

#logo{
    font-family:'Mochiy Pop One', sans-serif;
    font-size: 24px;
    color: white;

    height: 20px;
    display: flex;
   
    align-items: center;
    justify-content: center;  
    gap:10px;  
}

#logo .orange{
    color:var(--vivid-orange);
}